<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Cross Reference</p>
    <div class="row">
      <div class="col-xs-4 col-md-4">
      </div>
  </div>
</footer>
